<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Meu Blog</title>
  </head>

  <body>
    <ul>
      <% for (const user of users) { %>
      <li><%- user.name %></li>
      <%}%>
    </ul>
    <h2>Site de corno</h2>
  </body>
</html>
