<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" >
    <title><%= title %></title>
  <body>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="my-2 my-lg-0">
        <% if (typeof user != 'undefined' && user) { %>
          <div class="row">
            <div class="text-white btn" style="cursor: auto;">Welcome <%= user.name %></div>
            <a href="/logout" class="btn btn-link">Log Out</a>
          </div>
       <% } else { %>    
          <a class="text-right" href="/register"><button class="btn btn-link">Sign Up</button></a>
          <a class="text-right" href="/login" class="btn btn-link">Login</a>
        <% } %>
    </div>
    </div>
    <div class="container ">
      <%- body %>
    </div>
  </body>
</html>
